@import 'bootstrap';

.intestazione{
    color:rgb(157, 12, 159)
}

h2{
    color:rgb(79, 133, 240)
}

.navbar{
    background-color: rgba(157, 12, 159,0.7)!important;
    position:fixed !important;
    top: 0px !important;
    width: 100% !important;
    z-index: 1000;
}

.nav-link{
    font-size: 18px !important;
}
